.elle-custom-theme-plugin{

footer {
    background-color: $secondary-color !important;
    font-family: $font-light;
    padding: 0;
    font-size:  1rem;
    line-height: 1.5;

    a{
        font-size: 1rem;
        @extend .hover-underline;

    }
    p{
        margin-bottom: 0;
        color: $white-color;
    }
    p + p{
        margin-top: rem(10);
    }

    .custom-elle-footer{
        display: flex;
        flex-wrap: wrap;
        padding: rem(60) 0;
        @include tablet-lg(){
            padding: rem(40) 0;
        }
        @include tablet-md(){
            padding: rem(35) 0;
        }
        @include tablet-sm(){
            padding: rem(30) 0;
        }
        &__column{
           flex: 0 0 25%;
           max-width: 25%;
           padding: 0 rem(40);
           @include tablet-lg(){
            padding: 0 rem(30);
            }
            @include tablet-md(){
                padding: 0 rem(20);
            }
            @include tablet-sm(){
                padding: 0 rem(15);
            }
            @include mobile-lg(){
                flex: 0 0 50%;
                max-width: 50%;
                padding: 0 rem(15);
                margin: rem(15) 0;
            }
            @include mobile-md(){
                flex: 0 0 100%;
                max-width: 100%;
                padding: 0;
                text-align: center;
                margin: rem(12) 0;
            }
           &:first-child{
            padding-left: 0;
           }
           &:last-child{
            padding-right: 0;
           }
           &:nth-child(3){
            @include mobile-lg(){
                padding-left: 0;
            }
           }
        }
    }
    .footer-column-content-inner{
        padding-bottom: 0 !important;
        margin-bottom: 2rem;
        @include tablet-md(){
            margin-bottom: 1.5rem;
        }
        @include tablet-sm(){
            margin-bottom: 1rem;
        }
        @include mobile-lg(){
            margin-bottom: 0.5rem;
        }
        ul{
            margin-bottom: 0 !important;   
        }
        &:last-child{
            margin-bottom: 0 !important;
        }
        .footer-link-item{
            line-height: 1;
            padding: rem(3) 0;
            @include mobile-lg(){
                padding: rem(4) 0;
            }
            a{
               @extend .hover-underline;
            }
        }

    }
}
.footer{
    &-main{
        padding: 0 !important;
    }
    &-bottom{
        background-color: $secondary-color !important;
        border-top: 1px solid $white-color !important;
        padding: rem(25) !important;
        @include tablet-md(){
            padding: rem(16) !important;
        }
        &-links{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            margin-bottom: 0;
            &> *:last-child {
                display: none;
              }
            &-divider{
                margin: 0 rem(10);
            }
        }
    }
}

}