{% sw_extends '@Storefront/storefront/layout/navigation/flyout.html.twig' %}

{% block layout_navigation_flyout %}
	{% set category = navigationTree.category %}
	{% set name = category.translated.name %}
	{% block layout_navigation_flyout_bar %}
		<div class="row navigation-flyout-bar">
			{% block layout_navigation_flyout_bar_close %}
				{{ parent() }}
			{% endblock %}
		</div>
	{% endblock %}
	{% block layout_navigation_flyout_content %}
		{{ parent() }}
	{% endblock %}
	{% block layout_navigation_flyout_bar_category %}
		{{ parent() }}
	{% endblock %}
{% endblock %}
