{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_body_inner %}
    <div class="elle-custom-theme-plugin">
        {{ parent() }}
    </div>
{% endblock %}

{% block base_navigation %}

{% endblock %}