html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
}



.elle-custom-theme-active {
  font-family: $font-regular, $fallback-fonts;
  font-size: 16px;
  min-height: 100%;
  color: $text-color;
  scroll-padding-top: 12rem;

  &.is-act-search{
    .nav-tabs{
      margin-top: rem(90);
      @include mobile-lg{
        margin-top: rem(55);
      }
    }
    .tab-content{
      h1{
        font-size: rem(20);
        line-height: 1.4;
        margin-top: rem(20);
      }
    }
  }

  .header-search{
    .input-group{
      background-color: $white-color;
    }
  }
  h1,
  .h1,
  h2,
  .h2,
  h3,
  h4,
  .h3,
  .h4,
  h5,
  h6,
  .h5,
  .h6 {
    font-family: $font-regular, $fallback-fonts;
    color: inherit;
  }

  h2,
  .h2 {
    &::before {
      content: "\e901";
      position: relative;
      font-family: "icomoon" !important;
      speak: never;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      color: $primary-color;
      padding-right: 0.5em;
    }
  }

  p {
    font-family: $font-regular, $fallback-fonts;
  }

  .container,
  .cms-block-nfx-custom-buttons .cms-block-container,
  .cms-block-nfx-products-list .cms-block-container,
  .cms-block-nfx-product-slider .cms-block-container,
  .cms-section .boxed {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;

    max-width: rem(1220);
    margin: auto;

    @include tablet-lg() {
      max-width: rem(920);
    }

    @include tablet-md() {
      max-width: rem(840);
    }

    @include tablet-sm() {
      max-width: rem(780);
    }

    @include mobile-lg() {
      margin: auto;
      max-width: rem(650);
      padding-left: rem(20);
      padding-right: rem(20);
    }

    &.limited {
      max-width: rem(1280);

      @include desktop-md() {
        max-width: rem(1150);
      }

      @include tablet-lg {
        max-width: rem(860);
      }
    }

    &.wide {
      max-width: rem(1479);

      @include desktop-md() {
        max-width: rem(1239);
      }

      @include desktop-sm() {
        max-width: rem(1114);
      }

      @include tablet-lg() {
        max-width: rem(932);
      }

      @include tablet-md() {
        max-width: rem(767);
      }

      @include tablet-sm() {
        max-width: rem(680);
        margin: auto;
      }

      @include mobile-lg() {
        padding: 0 rem(20);
      }
    }

    .cms-block-container-row {
      padding: 0;
      .container {
        width: 100%;

        @include desktop-md() {
          max-width: 100%;
        }

        @include desktop-sm() {
          max-width: 100%;
        }

        @include tablet-lg() {
          max-width: 100%;
        }

        @include tablet-md() {
          max-width: 100%;
        }

        @include tablet-sm() {
          max-width: 100%;
        }
      }
    }
  }

  .breadcrumb.cms-breadcrumb {
    justify-content: flex-end !important;
  }
  .cms-breadcrumb {
    ol.breadcrumb {
      position: absolute;
      top: 0;
      margin: 15px 0;
      right: 0;
      justify-content: flex-end !important;
    }
  }
  .container-main {
    @include tablet-lg() {
      min-height: calc(100vh - 350px);
    }
    @include mobile-md() {
      min-height: rem(200);
    }
  }

  a,
  .btn,
  .icon,
  .sp-icon {
    transition: 0.3s all;
    @extend .theme-hover;
  }

  button {
    outline: none;
    box-shadow: none;

    &:hover,
    &:active,
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }

  .cms-sections {
    overflow-x: visible;
    overflow-y: visible;

    .cms-section,
    .cms-block {
      overflow: visible;
    }
  }

  .btn .icon > svg {
    top: 0;
  }

  .flashbags.container {
    margin-top: 0;
  }

  .cms-block {
    max-width: 1920px;
    margin: auto;
  }
  .footer-bottom {
    .footer-vat,
    .footer-copyright {
      display: none !important;
    }
    .copy-year-text{
      margin-right: rem(8);
    }
    .footer-snippet{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      .footer-bottom-links{
        width: auto;
      }
    }
  }
}

.elle-custom-theme-active {
    .btn {
    &.btn-primary {
      background-color: $primary-color;
      border-color: $primary-color;
      &:hover {
        background-color: $white-color;
        border-color: $primary-color;
        color: $primary-color;
      }
    }
  }

  a {
    color: $primary-color;
    @extend .theme-hover;
  }

  .cookie-permission-container {
    .cookie-permission-content {
      a {
        color: $primary-color;
        @extend .theme-hover;
      }
    }
    .btn {
      &.btn-primary {
        background-color: $primary-color;
        border-color: $primary-color;
        &:hover {
          background-color: $white-color;
          border-color: $primary-color;
          color: $primary-color;
        }
      }
    }
  }

  .scroll-up-button {
    .btn {
      &.btn-primary {
        background-color: $primary-color;
        border-color: $primary-color;
        &:hover {
          background-color: $white-color;
          border-color: $primary-color;
          color: $primary-color;
          .icon {
            color: $primary-color;
          }
        }
      }
    }
  }
}
