html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

html,
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: $font-regular, $fallback-fonts;
    font-size: 16px;
    min-height: 100%;
    color: $text-color;
    scroll-padding-top: 12rem;
}

h1,
h2,
.h1,
.h2,
h3,
h4,
.h3,
.h4,
h5,
h6,
.h5,
.h6 {
    font-family:  $font-bold;
    color: inherit;
}


// h1,
// .h1 {
//     font-size: rem(48);
//     line-height: rem(58);
//     letter-spacing: 0;

//     @include desktop-md {
//         font-size: rem(38);
//         line-height: rem(48);
//     }

//     @include desktop-sm {
//         font-size: rem(34);
//         line-height: rem(44);
//     }

//     @include tablet-lg {
//         font-size: rem(30);
//         line-height: rem(38);
//     }

//     @include tablet-md {
//         font-size: rem(26);
//         line-height: rem(34);
//     }

//     @include mobile-lg() {
//         font-size: rem(24);
//         line-height: rem(30);
//     }
// }


// .textBig {
//     font-size: rem(28);
//     line-height: rem(38);


//     @include mobile-lg() {
//         font-size: rem(24);
//         line-height: rem(34);

//     }
// }

// p {
//     font-size: rem(18);
//     line-height: rem(28);
//     color: $text-color;
//     max-width: rem(1094);

//     @include mobile-lg() {
//         font-size: rem(16);
//         line-height: rem(26);
//     }
// }

.container,
.cms-block-nfx-custom-buttons .cms-block-container,
.cms-block-nfx-products-list .cms-block-container,
.cms-block-nfx-product-slider .cms-block-container,
.cms-section .boxed {
    // max-width: rem(1479);
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;

    max-width: rem(1180);
    margin: auto;

    @include tablet-lg() {
        max-width: rem(914);
    }

    @include tablet-md() {
        max-width: rem(840);
    }

    @include tablet-sm() {
        max-width: rem(780);
    }

    @include mobile-lg() {
        margin: auto;
        max-width: rem(650);
        padding-left: rem(20);
        padding-right: rem(20);
    }

    &.limited {
        max-width: rem(1280);

        @include desktop-md() {
            max-width: rem(1150);
        }

        @include tablet-lg {
            max-width: rem(860);
        }
    }

    &.wide {
        max-width: rem(1479);

        @include desktop-md() {
            max-width: rem(1239);
        }

        @include desktop-sm() {
            max-width: rem(1114);
        }

        @include tablet-lg() {
            max-width: rem(932);
        }

        @include tablet-md() {
            max-width: rem(767);
        }

        @include tablet-sm() {
            max-width: rem(680);
            margin: auto;
        }

        @include mobile-lg() {
            padding: 0 rem(20);
        }

    }

    .cms-block-container-row {
        .container {
            width: 100%;

            @include desktop-md() {
                max-width: 100%;
            }

            @include desktop-sm() {
                max-width: 100%;
            }

            @include tablet-lg() {
                max-width: 100%;
            }

            @include tablet-md() {
                max-width: 100%;
            }

            @include tablet-sm() {
                max-width: 100%;
            }
        }
    }
}


// .icon {
//     &>svg {
//         top: rem(1.5);
//     }

//     &.icon-xs {
//         height: rem(10);
//         width: rem(10);
//     }
// }

a,
.btn,
.icon,
.sp-icon {
    transition: 0.3s all;
    @extend .theme-hover;
}

button {
    outline: none;
    box-shadow: none;

    &:hover,
    &:active,
    &:focus {
        outline: none;
        box-shadow: none;
    }
}

.cms-sections {
    overflow-x: hidden;
    overflow-y: visible;

    .cms-section,
    .cms-block {
        overflow: visible;
    }

}

.btn .icon>svg {
    top: 0;
}

.flashbags.container {
    margin-top: 15px;
}

.cms-block {
    max-width: 1920px;
    margin: auto;
}

.cms-element-title,
.cms-element-text {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-bottom: 0;
    }

    a,
    button {
        margin-top: rem(20);
    }

    a+a,
    button+button {
        margin-left: rem(10);
    }
}


// :is(h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, ul, ol)+p {
//     margin-top: rem(20);

//     @include desktop-md() {
//         margin-top: rem(18);
//     }

//     @include desktop-sm() {
//         margin-top: rem(16);
//     }

//     @include tablet-lg() {
//         margin-top: rem(14);
//     }

//     @include tablet-md() {
//         margin-top: rem(10);
//     }
// }

// :is(h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, a, button)+div,
// :is(h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6)+ul,
// :is(h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6)+li {
//     margin-top: rem(20);

//     @include desktop-md() {
//         margin-top: rem(18);
//     }

//     @include desktop-sm() {
//         margin-top: rem(16);
//     }

//     @include tablet-lg() {
//         margin-top: rem(14);
//     }

//     @include tablet-md() {
//         margin-top: rem(10);
//     }
// }

// p+ :is(h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6),
// ul+ :is(h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6),
// ol+ :is(h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6),
// div+ :is(h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6) {
//     margin-top: rem(50);

//     @include desktop-md() {
//         margin-top: rem(45);
//     }

//     @include desktop-sm() {
//         margin-top: rem(40);
//     }

//     @include tablet-lg() {
//         margin-top: rem(35);
//     }

//     @include tablet-md() {
//         margin-top: rem(30);
//     }

//     @include mobile-lg() {
//         margin-top: rem(40);
//     }

// }


ol,
ul {
    padding-left: 1.2em;
}

ol+ol {
    margin-top: rem(10);

    @include desktop-sm() {
        margin-top: rem(8);
    }

    @include tablet-md() {
        margin-top: rem(6);
    }
}

ul+ul {
    margin-top: rem(10);

    @include desktop-sm() {
        margin-top: rem(8);
    }

    @include tablet-md() {
        margin-top: rem(6);
    }
}

p+p {
    margin-top: rem(10);

    @include desktop-sm() {
        margin-top: rem(8);
    }

    @include tablet-md() {
        margin-top: rem(6);
    }
}

ul {
    li {
        font-size: rem(18);

        @include mobile-lg() {
            font-size: rem(16);
        }
    }

    li+li {
        margin-top: rem(6);

        @include tablet-md() {
            margin-top: rem(4);
        }
    }
}
