.elle-custom-flyout{
    position: relative;
    z-index: 0;
    .navigation-flyout.is-open {
        border-top: 0;
    }
    .navigation-flyout-close{
        padding: rem(40) !important;
      }
    &-content{
        padding: rem(100) 0  rem(60) !important;
        .elle-custom-navigation-flyout-categories{
            margin-left: rem(5) !important;
            .navigation-flyout{
                        &-categories{
                            &.is-level-1{
                                .navigation-flyout{
                                    &-col{
                                        margin-bottom: rem(10) !important; 
                                        &:first-child{
                                            margin-top: rem(10) !important;
                                        }
                                    }

                                }
                    
                            }

                        }
                    }
                       

            .navigation-flyout{
                &-col{
                    margin-bottom: rem(25) !important;
                    .elle-category-icon{
                        width: rem(26);
                        height: rem(26);
                        object-fit: contain;
                        object-position: center;
                        margin-right: rem(15);
                        -webkit-mask-size: rem(24) rem(24);
                        mask-size: rem(24) rem(24);
                        mask-position: center center;
                        -webkit-mask-position: center center;
                        -webkit-mask-repeat: no-repeat;
                        mask-repeat: no-repeat;
                        background-color: $secondary-color !important;
                    }
                    .navigation-flyout-link{
                        color: $secondary-color !important;
                        font-family: $font-light;
                        font-size: rem(16);
                        &:hover{
                            padding-left: 0;
                            color: $primary-color !important;
                            .elle-category-icon{
                                mask-repeat: no-repeat;
                                mask-position: center;
                                background-color: $primary-color !important;
                            }
                        }
                    }
                }
            }
        }
        
    }
    &-category-link{
        .nav-link{
            display: flex;
            align-items: center;
            padding-bottom: rem(40);
            font-family: $font-light;
            font-weight: 300;
            padding-left: 0;
            color: $text-color;
            @extend .theme-hover;
            .icon{
                width: rem(26);
                height: rem(23);
                margin-right: rem(14);
                color: $primary-color;
               
               & > svg{
                top: 0;
               }
            }
        }
    }
    
}
