.elle-custom-header-inner{
    .main-navigation{
        &-link{
            padding-right: rem(100) !important;
            font-size: rem(20);
            color: $black-color;
            @extend .theme-hover;
            &:last-child{
                padding-right: 0 !important;
            }
            &-text{
                line-height: 24px;
            }
        }
    }
}
